@font-face {
  font-family: 'Museo Sans';
  src: url('MuseoSansCyrl-300.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('MuseoSansCyrl-500.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('MuseoSansCyrl-700.woff') format('woff');
  font-weight: bold;
}
